
@media screen and (min-width:768px){  /*tablet version*/

	
	/* Page Styles
	================================ */
	

	/* Header, footer and banner
	================================ */

	header{
		background-color:#292929;
	}

	.header-content{
		position:relative; /*for absolute positioning of nav*/
	}

	.menu-toggle, .mob-nav{
		display:none; /*hide the mobile nav toggle and menu*/
	}

	.main-nav{
		display: block;  /*display non-mobile nav*/
		position: absolute; /*Following rules position the nav in the bottom right*/
		bottom: 0;
		right: 4%;
		font-size: 1.125em;
	}

	.main-nav ul{
		margin: 0; /*remove defualt margin*/
	}

	.main-nav li{
		display: inline-block;
		margin-left:10px;
	}

	.main-nav a{
		padding: 2px;
	}

	.main-nav a:hover,
	.social-main a:hover{
		background-color: #ddd;
		color:#111;
		border-radius: 3px;
	}

	/*.main-nav{
		float:right;
		margin-top: 17%;
		margin-right: 50px;
	}
*/
	.logo-container{
		width:15%;
		margin-left:4%;  
		float: left;
	}

	.social-main{
		display: block;
		float:right;
		margin-right: 4%;
	}

	.social-main a{
		text-decoration: underline;
	}

	/*****************************************
		PAGE:INDEX
	******************************************/

	.main-content h1{
		font-size: 3.25em
	}

}

@media screen and (min-width:992px){  /*desktop version*/

	/* Header, footer and banner
	================================ */

	.header-content,
	.main-content{
		max-width: 1200px;
		margin: 0 auto;
	}

	.main-nav{
		font-size: 1.2em;
	}

	/* Page Styles
	================================ */

	/*PART OF HEADER BANNER FOOTER
	.main-content{
		max-width: 1200px;
		margin: 0 auto;
	}*/

	/*****************************************
		PAGE:INDEX
	******************************************/
}

/*    We use the following media queries to create the key breakpoints in our grid system.

    Extra small devices (phones, up to 480px): No media query since this is the default in Bootstrap

    Small devices (tablets, 768px and up): @media (min-width: @screen-sm) { ... }

    Medium devices (desktops, 992px and up): @media (min-width: @screen-md) { ... }

    Large devices (large desktops, 1200px and up): @media (min-width: @screen-lg) { ... }

    http://stackoverflow.com/questions/19592968/bootstrap-3-breakpoints-and-media-queries
*/